.navbar {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    height: 80px;
}

.img {
    display: flex;
    height: 90%;
    justify-content: center;
    margin-left: 0.5%;
    margin-top: auto;
}

.list {
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2%;
}

.list > li{
    margin-left: 25px;
}

.item {
    text-decoration: none;
    font-weight: 1000;
    color: white;
}

.item:hover {
    color: var(--cor1);
}