.navbar {
    width: 100vw;
    display: flex;
    position: fixed;
    align-items: center;
    margin-bottom: 10px;
    height: 100px;
    background: linear-gradient(0, rgba(0,0,0, 0), black);
}

.img {
    display: flex;
    justify-content: center;
    height: 75%;
    margin-left: 0.5%;
}

.Hamburger {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2.5%;
}

.list, .listHamburger {
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2%;
}

.listHamburger {
    display: flex;
    height: 20%;
    width: auto;
    position: absolute;
    background-color: rgba(40, 40, 40, 0);
    flex-direction: column;
    margin-top: 80px;
    padding-right: 1%;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: start;
    list-style-type: none;
    margin-right: 2.5%;
    top: 0;
    right: 0;
    z-index: 0;
}

.list > li{
    margin-left: 25px;
}

.item {
    text-decoration: none;
    font-weight: 1000;
    color: white;
}

.item:hover {
    color: var(--cor1);
}

.active {
    color: var(--cor1);
}

@media screen and (min-width: 1025px){
    .list {
        display: flex;
    }
    .Hamburger {
        display: none;
    }
    .listHamburger {
        display: none;
    }
}

@media screen and (max-width: 1024px){
    .list {
        display: none;
    }
    .Hamburger {
        display: flex;
    }
    .listHamburger {
        display: flex;
    }
}
