.navbar {
    width: 100vw;
    display: flex;
    position: fixed;
    align-items: center;
    margin-bottom: 10px;
    height: 100px;
    background: linear-gradient(0, rgba(0,0,0, 0), black);
}

.img {
    display: flex;
    justify-content: center;
    height: 75%;
    margin-left: 0.5%;
}

.list {
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2%;
}

.list > li{
    margin-left: 25px;
}

.item {
    text-decoration: none;
    font-weight: 1000;
    color: white;
}

.item:hover {
    color: var(--cor1);
}

.active {
    color: var(--cor1);
}