.products {
    width: 100vw;
    margin-top: 150px;
}

.stepBanner {
    background: var(--background10steps);
}

.sweepBanner {
    background: var(--backgroundSweep);
}

.sweepBanner, .stepBanner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgSweep, .imgStep {
    width: 30%;
}

.sweepProduct, .stepProduct {
    width: 100%;
    height: auto;
    padding: 30px;
    display: grid;
    background-color: white;
    grid-template-columns: 55% 45%;
    grid-auto-rows: 1fr;
}

.sweepProduct {
    grid-template-areas: "sweepText sweepScreens";
}

.sweepScreens {
    grid-area: sweepScreens;
}

.sweepText {
    grid-area: sweepText;
}

.sweepScreens, .stepScreens {  
    width: 70%;
    height: auto;
    margin: auto;
    margin-left: 0;
    margin-top: 30px;
}

.sweepText, .stepText {
    width: 80%;
    height: 100%;
    margin: auto;
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.stepProduct {
    grid-template-areas: "stepText stepScreens";
}

.stepText {
    grid-area: stepText;
}

.stepScreens {
    grid-area: stepScreens;
}

.ph1 {
    font-size: 2.5rem;
    color: var(--cor2);
}

.ph3 {
    font-size: 1.25rem;
    color: var(--cor3);
    font-weight: 100;
}

.pp {
    font-size: 1rem;
    color: var(--cor4);
}

.psub {
    font-size: 0.7rem;
    color: var(--cor4);
}

.link {
    color: var(--cor1);
}

.btn {
    width: 160px;
    height: 50px;
    background-color: var(--cor1);
    border: 1px solid var(--cor1);
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkBtn {
    width: 100%;
    text-decoration: none;
    font-size: 1rem;
    color: white;
}