.terms {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5%;
    padding-bottom: 20px;
    margin-top: 80px;
}

.terms > h1 {
    color: var(--cor1);
    font-size: 2.2rem;
    text-align: center;
}

.terms > section {
    width: 50%;
    color: white;
}

section > h2 {
    font-size: 1.8rem;
}

section > p{
    font-size: 1.1rem;
}

@media screen and (max-width: 1280px){
    .terms > section {
        width: 70%;
    }
    .terms > h1 {
        font-size: 2.4rem;
    }
}

@media screen and (max-width: 1024px){
    .terms > section {
        width: 80%;
    }
    .terms > h1 {
        font-size: 2.6rem;
    }
}

@media screen and (max-width: 768px){
    .terms > section {
        width: 90%;
    }
    .terms > h1 {
        font-size: 2.7rem;
    }
}